
<header>
  <img  class="logo" src="https://news.ycombinator.com/y18.gif" >
  <a [routerLink]="['/index']"><b style="margin-right: 3px; margin-left: 3px">Hacker news </b></a>
  <nav>
    <ul class="nav_links">
      <li><a>welcome | </a></li>
      <li><a [routerLink]="['/news']"> new  | </a></li>
      <li><a [routerLink]="['/threads']"> threads  | </a></li>
      <li><a> past | </a></li>
      <li><a> comments | </a></li>
      <li><a> asks | </a></li>
      <li><a> show | </a></li>
      <li><a [routerLink]="['/submit']"> submit </a></li>
    </ul>
  </nav>
    <ul class="other_links">
      <li style="float: right">
        <a [routerLink]="['/info_user/Mike']">Mike</a>
      </li>
    </ul>





</header>

