<table class="info">
  <tr style="height: 10px;"></tr>

  <tr>
    <td colspan="2"></td>


  </tr>


</table>

<table class="ini_spacer">

  <tr style="height:10px"></tr>

</table>
<table class="separador"> </table>

<table class="info">

  <tr><td><div class="e" align='center'>Guidelines | FAQ | Support | API | Security | Lists | Bookmarklet | Legal | Apply to YC | Contact</div></td></tr>
  <td><div class="f" align='center'>Search:  <input type="text" name="q" value size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"> </div></td>

</table>

<table class="ini_spacer">

  <tr style="height:10px"></tr>

</table>
